body{
    margin: 0px;
    padding: 0px;
    background-color: #333;
    font-family: consolas;
    height: 70em;
    transition: 0.4s ease-in;
    width: 100%;
}

img{
    display: block;
    max-width: 100%;
}

#contenedroPrincipal{
    display: grid;
    grid-template-rows: auto;
    gap: 10vh;
    justify-items: center;
    background-color: #333;
    width: 100%;
}




#techo{
    background-color: #141414;
    min-height: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    position: fixed;
    z-index: 999;
}

.botonTecho{
    position: relative;
    right: 20px;
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
    min-height: 2.5em;  
    width: 8em;
    transition: 0.2s ease-in;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.botonTecho:hover{
    transform: scale(1.01);
    cursor: pointer;
}


#botonNaranja{
    color: #ff6600;
}

#botonAzul{
    color: #0077d2;
}

#botonRojo{
    color: #ec1707;
}

#botonVerde{
    color: #00ae47;
}



#botonNaranja:hover{
    color: #141414;
    background-color: #ff6600;
    box-shadow: 0px 0px 10px 2px #ff6600;
}

#botonAzul:hover{
    color: #141414;
    background-color: #0077d2;
    box-shadow: 0px 0px 10px 2px #0077d2;
}

#botonRojo:hover{
    color: #141414;
    background-color: #ec1707;
    box-shadow: 0px 0px 10px 2px #ec1707;
}

#botonVerde:hover{
    color: #141414;
    background-color: #00ae47;
    box-shadow: 0px 0px 10px 2px #00ae47;
}




#inicio{
    position: relative;
    top: 3em;
    margin-inline: auto;
    justify-self: center;
    background-color: transparent;
    height: 38em;
    width: 68em;
    display: flex;
    align-items: center;
    gap: 5vw;
    scroll-margin-top: 15vh;
}

#fondoImgInicio{
    border-radius: 5px;
    background-color: transparent;
    height: 30em;
    width: 22em;
    margin-inline: auto;
}

#imgInicio{
    border: 1px solid #000;
    height: 30em;
    width: 22em;
    border-radius: 5px;
}

#nombre{
    margin-inline: auto;
    background-color: #141414;
    height: 25em;
    width: 35em;
    display: block;
    font-family: consolas;
    justify-items: center;
    align-content: center;
    color: #fceac2;
}

.nombre{
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 2%;
    color: #ff6600;
}

.botonLinks{
    all: unset; /* ← esto borra los estilos por defecto del <button> */
    display: inline-block;
    background-color: #000000;
    height: 2.5em;
    width: 8em;
    color: #fceac2;
    border: none;
    text-align: center;
    align-content: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    border-bottom: 3px solid #ff6600;
    border-right: 3px solid #ff6600;
}

#desarrollador{
    color: #fceac2;
}

.botonLinks:hover{
    color: #000;
    background-color: #ff6600;
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
    cursor: pointer;
}





#sobreMi{
    position: relative;
    top: 35vh;
    margin-inline: auto;
    background-color: transparent;
    height: 30em;
    width: 61em;
    display: flex;
    align-items: center;
    gap: 5vw;
    scroll-margin-top: 15vh;
}

#fondoImgSobreMi{
    border-radius: 5px;
    background-color: #141414;
    height: 25em;
    width: 17em;
    position: relative;
    left: 2.5vw;
}

#imgSobreMi{
    height: 25em;
    width: 17em;
    border-radius: 5px;
    border: 1px solid #000;
}

#textoSobreMi{
    position: relative;
    left: 2.5vw;
    border-radius: 5px;
    background-color: #141414;
    height: 25em;
    width: 36em;
    display: block;
    font-family: consolas;
    align-content: center;
    color: #fceac2; 
}

#tituloSobreMi{
    margin: 0%;
    margin-bottom: 2%;
    font-size: 1.7em;
    font-weight: bold;
    width: 90%;
    margin-inline: auto;
    color: #0077d2;
}

#descripcionSobreMi{
    margin: 0px;
    font-size: 0.9em;
    margin-inline: auto;
    width: 90%;
}


#R{
    color: #0077d2;
    text-shadow: 0px 0px 1.5px #0077d2;
}

#u{
    color: #ec1707;
    text-shadow: 0px 0px 1.5px #ec1707;
}

#b{
    color: #00ae47;
    text-shadow: 0px 0px 1.5px #00ae47;
}

#i{
    color: #ff6600;
    text-shadow: 0px 0px 1.5px #ff6600;
}

#k{
    color: #ffd500;
    text-shadow: 0px 0px 1.5px #ffd500;
}

#HTML{
    color: #ff6600;
    text-shadow: 0px 0px 1.5px #ff6600;
}

#CSS{
    color: #0077d2;
    text-shadow: 0px 0px 1.5px #0077d2;
}

#JS{
    color: #ffd500;
    text-shadow: 0px 0px 1.5px #ffd500;
}

#Python{
    color: #00ae47;
    text-shadow: 0px 0px 1.5px #00ae47;
}

#Tkinter{
    color: #0077d2;
    text-shadow: 0px 0px 1.5px #0077d2;
}

#OpenPyXl{
    color: #00ae47;
    text-shadow: 0px 0px 1.5px #00ae47;
}




#proyectos{
    position: relative;
    top: 65vh;
    background-color: #141414;
    height: 32em;
    width: 60em;
    margin-inline: auto;
    scroll-margin-top: 15vh;
}

#tituloProyectos{
    margin: 0%;
    color: #ec1707;
    font-size: 3em;
    position: relative;
    margin-inline: auto;
    width: 90%;
    top: 3vh;
    font-weight: bold;
}

#proyecto1{
    position: relative;
    top: 12%;
    margin-inline: auto;
    background-color: #333;
    height: 23em;
    width: 56em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
}

#fondoImgProyecto1{
    align-self: center;
    position: relative;
    margin-inline: auto;
    background-color: #141414;
    width: 22em;
    height: 15em;
}

#imgProyecto1{
    width: 22em;
    height: 15em;
    border: 1px solid #141414;
}

#tituloProyecto1{
    color: #ff6600;
    margin: 0px;
    margin-top: -10px;
    font-size: 1.5em;
}

#descripcionDelProyecto1{
    align-self: center;
    position: relative;
    background-color: transparent;
    height: 18em;
    width: 28em;
    font-size: 0.9em;
    color: #fceac2;
    margin-inline: auto;
}

#tecnologiasProyecto1{
    background-color: transparent;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 8.8vh;
    width: 100%;
}

.tecnologiasProyecto{
    background-color: #141414;
    height: 2em;
    width: 7em;
    color: #fceac2;
    font-size: 0.9em;
    margin-inline: auto;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}


/*

Idea descartada temporalmente

#linkProyecto1{
    background-color: #000;
    border: none;
    border-radius: 5px;
    height: 5vh;
    width: 12vw;
    color: #ff6600;
    margin-top: 1px;
    transition: 0.4s ease-in;
}

#linkProyecto1:hover{
    background-color: #ff6600;
    color: #000;
    cursor: pointer;
}

*/




#habilidadesTitulo{
    border-radius: 10px;
    font-size: 2.5em;
    font-weight: bold;
    color: #fceac2;
    position: relative;
    top: 95vh;
    background-color: #141414;
    width: 15em;
    height: 2em;
    text-align: center;
    margin-inline: auto;
    align-content: center;
    border: 1px solid #fceac2;
}

#habilidades{
    position: relative;
    top: 100vh;
    background-color: #000;
    box-shadow: 3px 3px 10px 5px #141414;
    height: 27em;
    width: 27em;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0px;
    row-gap: 0px;
    align-items: center;
    justify-items: center;
}


.rubikContenedores{
    height: 93%;
    width: 93%;
}

.rubikHabilidades{
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.rubikHabilidadesBloque{
    width: 100%;
    height: 100%;
    transition: transform 0.6s; /* Duración del giro */
    transform-style: preserve-3d; /* Mantiene el 3D de los hijos */
    position: relative;
}

.rubikHabilidades:hover .rubikHabilidadesBloque{
    transform: rotateY(180deg);
}

.flipFront, .flipBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    /* Centrado */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Asegura que el texto esté en el medio incluso con texto multilineal */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.flipFront{
    border-radius: 10px;
    background-color: #ec1707;
    font-size: 1em;
    color: #000;
}

.flipBack{
    border-radius: 10px;
    background-color: #ec1707;
    transform: rotateY(180deg);
    font-size: 0.8em;
    color: #000;
}

#bloqueBlanco1, #bloqueBlanco2{
    background-color: #fceac2;
}

#bloqueAmarillo1, #bloqueAmarillo2{
    background-color: #ffd500;
}

#bloqueVerde1, #bloqueVerde2, #bloqueVerde3, #bloqueVerde4{
    background-color: #00ae47;
}

#bloqueAzul1, #bloqueAzul2{
    background-color: #0077d2;
}

#bloqueNaranja1, #bloqueNaranja2, #bloqueNaranja3, #bloqueNaranja4{
    background-color: #ff6600;
}




#tecnologias{
    position: relative;
    margin-inline: auto;
    top: 130vh;
    height: 22em;
    width: 67.5em;
    display: block;
    color: #fceac2;
    scroll-margin-top: 15vh;
}

#backTituloTecnologias{
    background-color: transparent;
    width: 67.5em;
    height: 3em;
    align-content: center;
}

#titulosTecnologias{
    margin: 0%;
    font-size: 2.5em;
    margin-left: 2%;
}

#displayTecnologias{
    background-color: #141414;
    border-radius: 10px;
    margin-top: 3%;
    width: 67.5em;
    height: 15em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    justify-items: center;
}

.tecnologiasCuadro{
    background-color: #111;
    border-radius: 5px;
    border: 1px solid #fceac2;
    height: 12em;
    width: 9em;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0%;
}

.imgTecnologias{
    margin-top: 7%;
    border: none;
    background-color: transparent;
    height: 8em;
    width: 7em;
}




#fondo{
    position: relative;
    top: 140vh;
    margin: 0%;
    background-color: #141414;
    height: 15em;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0vh;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
}

#mailTexto{
    margin: 0%;
    color: #fceac2;
    font-size: 1.5em;
    margin-top: 5%;
}

#contenedorFondo{
    background-color: transparent;
    width: 18em;
    height: 3em;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    margin-inline: auto;
}

#linkedinLink{
    background-color: #000;
    height: 2.6em;
    width: 8em;
    color: #fceac2;
    display: flex;
    text-decoration: none;
    align-content: center;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.linkedinLogo{
    fill: #fceac2;
    height: 2.6em;
    width: 2.6em;
    align-self: center;
    transition: fill 0.3s ease;
}

#linkedinText {
    transition: color 0.3s ease;
}
  
/* Cambios al hacer hover en el contenedor */
#linkedinLink:hover .linkedinLogo {
    fill: #0077d2;
}
  
#linkedinLink:hover #linkedinText {
    color: #0077d2;
}

#copyEmail{
    all: unset; /* ← esto borra los estilos por defecto del <button> */
    background-color: #000;
    height: 2.6em;
    width: 8em;
    color: #fceac2;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

#copyEmail:hover{
    color: #ec1707;
}

html{
    scroll-behavior: smooth;
}

#alerta{
    position: absolute;
    left: 58vw;
    bottom: 15vh;
    background-color: #fceac2;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease;
    height: 2em;
    width: 10em;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    z-index: 998;
}

#alerta.visible{
    opacity: 1;
    transform: translateY(0);  
}

.oculto{
    display: none;
}

@media (max-width: 1110px){
    .botonTecho{
        height: 2.5em;
        width: 6.5em;
    }

    #inicio{
        width: 100%;
    }
    
    #nombre{
        top: -5em;
        margin-inline: auto;
        height: 17em;
        width: 22em;
    }

    .nombre{
        transform: scale(00.9em);
    }



    #sobreMi{
        top: -2em;
        background-color: transparent;
        height: 29em;
        width: 90%;
    }

    #textoSobreMi{
        left: 0em;
        height: 29em;
        width: 25em;
    }
    
    #tituloSobreMi{
        font-size: 1.7em;
        left: 2.5vw;
    }




    #proyectos{
        top: 0%;
        height: 62vh;
        width: 90vw;
        margin-inline: auto;
        display: inline;
    }
    
    #tituloProyectos{
        left: 2.5vw;
        top: 3vh;
    }
    
    #proyecto1{
        text-align: center;
        height: 44vh;
        width: 85%;
        margin-inline: auto;
        display: flex;
    }

    #tituloProyecto1{
        margin-top: -1em;
        font-size: 1.3em;
        width: 70vw;
        margin-inline: auto;
    }
    
    #descripcionDelProyecto1{
        background-color: transparent;
        height: 80%;
        width: 70vw;
        font-size: 85%;
        justify-self: center;
        align-self: center;
    }
    
    #tecnologiasProyecto1{
        background-color: transparent;
        height: 4em;
        width: 70vw;
        margin-inline: auto;
    }
    
    .tecnologiasProyecto{
        height: 2em;
        width: 80%;
        font-size: 0.9em;
    }




    #tecnologias{
        background-color: transparent;
        top: 4em;
        height: 42em;
        width: 90%;
        margin-inline: auto;
    }
    
    #backTituloTecnologias{
        background-color: transparent;
        width: 90%;
        height: 3em;
    }
    
    #titulosTecnologias{
        margin: 0%;
        font-size: 2.5em;
        margin-left: 2%;
    }
    
    #displayTecnologias{
        background-color: #141414;
        margin-top: 3%;
        height: 100%;
        width: 90%;
        margin-inline: auto;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }







    #fondo{
        top: 10em;
        height: 13em;
    }
    
    #mailTexto{
        font-size: 1.2em;
        margin-top: 10vh;
    }







    #fondoImgInicio{
        display: none;
        width: 0em;
    }
    
    #imgInicio{
        display: none;
        width: 0em;
    }

    #fondoImgSobreMi{
        display: none;
        width: 0em;
    }

    #imgSobreMi{
        display: none;
        width: 0em;
    }
    
    #fondoImgProyecto1, #imgProyecto1{
        display: none;
        width: 0em;
    }

    #habilidadesTitulo, #habilidades, .rubikContenedores, .rubikHabilidades, .rubikHabilidadesBloque{
        display: none;
        width: 0em;
    }

}